:root {
    /* color-scheme: light dark; */
    /* default dark scheme */
    color-scheme: dark;


    /**--------------------------------------------
    *               BTN modifier bootstrap
    *---------------------------------------------**/

    --btn-primary: light-dark(#9EC8B9, #116D6E) !important;
    --btn-primary-border-color: light-dark(#9EC8B9, #116D6E) !important;
    --btn-primary-hover-bg: light-dark(#83aa9c, #116D6E) !important;

    --btn-secondary: light-dark(#968ab4, #5C5470) !important;
    --btn-secondary-border-color: light-dark(#968ab4, #5C5470) !important;

    /**--------------------------------------------
    *               Checkbox modifier
    *---------------------------------------------**/
    --checkbox-bg: light-dark(#9EC8B9, #116D6E) !important;
    --form-check-input-checked-color: light-dark(#9EC8B9, #116D6E) !important;

    /**----------------------
     *    Dark light btn
     *------------------------**/
    --bg-planet-bright: #F2C94C;
    --bg-planet-shadow: #828894;
    --bg-planet-lightshadow: #D7D7D820;
    --dot-size: 0.25rem;



}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    position: relative;
    font-family: 'Roboto', sans-serif;

    /* Modo oscuro y claro */
    color: light-dark(black, white) !important;
    background-color: light-dark(#f2f2f2, #222831) !important;


}



#configurator-Web {
    background-color: light-dark(white, #31363F) !important;
    /* border: 1px solid #ccc; */
    /* shadow */
    box-shadow: 1px 6px 11px 11px rgba(0, 0, 0, 0.2);
    height: 600px !important;
    max-width: 600px !important;
    width: 400px !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 50%);
}

.fix-bottom {
    position: fixed;
    bottom: 0;
    /* width: 100%; */
    z-index: 1000;
}

h1 {
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 300px !important;
    min-width: 300px;
    background-color: light-dark(white, #31363F) !important;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider-container {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
    margin-top: 10px;
}

.toggle-switch {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 26px;
}

.button-message {
    margin: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 26px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input[type="checkbox"]:checked+.slider {
    background-color: #2196F3;
}

input[type="checkbox"]:checked+.slider:before {
    transform: translateX(24px);
}

.slider-label {
    margin-left: 10px;
}

#linkContainer {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.icon {
    width: 48px;
    height: 48px;
    margin: 0 10px;
}

#statusMessage {
    margin-top: 20px;
    text-align: center;
}

/* icon row to separe between every icon */
.icon-row {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.icon-row a {
    margin: 0 10px;
}

.hidden {
    display: none;
}

.cookieText {
    font-size: 14px;
    padding: 10px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.button {
    display: inline-block;
    vertical-align: bottom;
    outline: 0;
    text-decoration: none;
    cursor: pointer;
    padding: 0.4rem;
    background-color: transparent;
    box-sizing: border-box;
    font-size: 1em;
    font-family: inherit;
    border-radius: 7px;
    margin: 0.1rem;
    transition: all 0.2s ease;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 2.5em;
    padding: 0 0.8em;
    border: 0;
    color: inherit;
    position: relative;
    transform: translateZ(0);
    border: 1px solid rgb(163, 162, 162);

}

.button * {
    pointer-events: none;

}

.button:hover:not(.raised),
.button:focus:not(.raised) {
    background-color: rgba(0, 0, 0, 0.2);
}

.button:active:not(.raised) {
    background-color: rgba(0, 0, 0, 0.1);
}

.button:disabled {
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: none;
    color: rgba(0, 0, 0, 0.3);
    pointer-events: none;
}

.button {
    margin: 0.4em;
}

.button.raised {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:hover,
.button.raised:focus {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4);
}

.button.raised:active {
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.26);
}

.button.raised:disabled {
    box-shadow: none;
}

.button.action {
    border-radius: 50%;
    width: 3.5em;
    height: 3.5em;
    line-height: 3.5em;
    position: relative;
    text-align: center;
}

.button.action * {
    line-height: inherit;
}

.button.action:not(:disabled):not(.raised):before {
    content: "";
    background-color: rgba(0, 0, 0, 0.2);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.7);
    opacity: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    transition: all 0.2s ease-out;
}

.button.action:hover:not(.raised),
.button.action:focus:not(.raised) {
    background-color: transparent;
}

.button.action:hover:not(.raised):before,
.button.action:focus:not(.raised):before {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}

.button.action:active:not(.raised):before {
    background-color: rgba(0, 0, 0, 0.1);
}


.blue {
    background-color: #2196f3;
    color: white;
}


.qr-code {
    background-color: #fff;
    padding: 10px;
}



/* #region Bootstrap */
/**----------------------
 *    Change Bootstrap btn
 *------------------------**/
.btn-primary,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
    background-color: var(--btn-primary) !important;
    border-color: var(--btn-primary-border-color) !important;
}

.btn-primary:hover {
    background-color: var(--btn-primary-hover-bg) !important;
}

.btn-secondary,
.btn-secondary:active,
.btn-secondary:visited,
.btn-secondary:focus {
    background-color: var(--btn-secondary) !important;
    border-color: var(--btn-secondary-border-color) !important;
}




/**----------------------
 *    Checkbox
 *------------------------**/
input[type="checkbox"]:checked+.slider {
    background-color: var(--checkbox-bg) !important;
    border-color: var(--checkbox-bg) !important;
}

/**----------------------
 *    Stepper
 *------------------------**/

.register-stepper {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    margin: 0 auto 1.5em;
}

.register-stepper::before {
    z-index: 0;
    content: "";
    display: block;
    position: absolute;
    height: 2px;
    top: calc(50% - 1px);
    background: #cecece;
    width: calc(100% - 20px);
}

.register-stepper .step {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    border: 2px solid #cecece;
    color: #cecece;
    background-color: #fff;
    border-radius: 50%;
    min-width: 25px;
    min-height: 25px;
    line-height: 20px;
    font-size: 16px;
}

.register-stepper .step-active {
    color: #00c4b5;
    background-color: #fff;
    border-color: #00c4b5;
}

.register-stepper .step-done {
    color: #a7e4b5;
    border-color: #a7e4b5;
}

.register-stepper .step-number {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    line-height: 1;
    vertical-align: middle;
}



footer {
    position: relative;
    margin-top: 20px;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 12px;
    color: #ccc;
    line-height: 2em;
    text-align: center;
    border-top: 1px solid #aaa;
}

footer p {
    margin-bottom: 0;
}


/**--------------------------------------------
 *               Light Dark Mode Button
 *---------------------------------------------**/
/* .btn-light-dark {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 22px;
    font-family: "Segoe UI Emoji";
    display: flex;
    justify-content: center;
    align-items: right;
    position: absolute;
    right: 5px;
    top: 15px;
}

.btn-light-dark:after {
    content: "☀";
}

.btn-light-dark:checked::after {
    content: "🌑";
}
 */
